/* Based on MicroProfiler style */
@import url("./palette.css");
@import url("./modules/splitPane.css");
@import url("./modules/resizeablePanels.css");

html,body,#root {
    height: 100%
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--microprofiler-bg);
    color: var(--text-color);

    font-family: Arial, Helvetica, sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    border-bottom: 2px grey;
    border-bottom-style: groove;
    width: 100%;
}


#nav_bar a {
    text-decoration:none;
    display: inline-block;
    padding: 3px 5px;
    color: var(--text-color);
    /*border-right: 2px grey groove;*/
}
#nav_bar a:hover, a:active{
    background-color: #000000;
}

#nav_bar ul {display:flex; list-style-type: none; margin:0;padding:0;}
#nav_bar li{display: inline; border:5px; position:relative; text-align:center;}



#app_wrapper {
    height: 100%;
}
.app_inner {
    padding: 5px;
}


/* Class Helpers */

.inheritSize {
    width: inherit;
    height: inherit;
}



/* Other */


.highlighted-background {
    background-color: #707070;
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
}
.highlighted-text {
    font-weight: bold;
    color: #ffcc77;
}
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
}
.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-top: 8px solid #000000;
    animation: spin 1s linear infinite;
    pointer-events: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/* Diff UI */
.tooltip-area .tooltip-text {
    visibility: hidden;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
}

.tooltip-area:hover .tooltip-text {
    visibility: visible;
}

.tooltip-area:hover {
    background-color: #555555;
}

.delete-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.delete-button:hover {
    background-color: #d33;
    color: #fff;
}

.tr-highlight {
    position: relative;
}

.tr-highlight:hover .delete-button {
    display: block;
}

.td-highlight {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-highlight:hover {
    background-color: #555;
}

.drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    visibility:hidden;
}

.drop-sign {
    font-size: 90px;
    color: #777;
    text-shadow:
        -1px -1px 0 #333,
         1px -1px 0 #333,
        -1px  1px 0 #333,
         1px  1px 0 #333;
    pointer-events: none;
}