.resizeable-separator {
    background: rgb(50,50,50);
    position: relative;
    height:100%;
}

.resizeable-separator[aria-orientation=vertical] {
    width: 2px!important;
}
.resizeable-separator[aria-orientation=horizontal] {
    height: 2px!important;
}

.resizeable-separator:before {
    content: "";
    position: absolute;
    background: transparent
}
.resizeable-separator[data-separator=hover]:before,.resizeable-separator[data-separator=active]:before {
    background: #00000014;
}
.resizeable-separator[aria-orientation=vertical]:before {
    top: 0;
    bottom: 0;
    left: -4px;
    right: -4px;
    z-index: 2; /* This here solves the hover hitbox */
}
.resizeable-separator[aria-orientation=horizontal]:before {
    left: 0;
    right: 0;
    top: -4px;
    bottom: -4px
}
