
.split-pane-divider {
    background: rgb(50,50,50);
    position: relative;
}

.split-pane-divider:before {
    content: "";
    position: absolute;
    background: transparent
}

.split-pane-divider:hover:before/*,.split-pane-divider.dragging:before*/ {
    background: #00000014;
}

.split-pane-divider:focus {
    outline: 2px solid #0066cc;
    outline-offset: -1px
}

.split-pane-divider.horizontal {
    width: 2px!important;
    cursor: col-resize;
}

.split-pane-divider.horizontal:before {
    top: 0;
    bottom: 0;
    left: -4px;
    right: -4px;
    z-index: 2; /* This here solves the hover hitbox */
}

.split-pane-divider.vertical {
    height: 2px!important;
    cursor: row-resize
}

.split-pane-divider.vertical:before {
    left: 0;
    right: 0;
    top: -4px;
    bottom: -4px
}




